fastapi
langchain_community
langchain_huggingface
python-multipart
uvicorn[standard]
sentence-transformers
accelerate
aiohttp
beautifulsoup4
requests
lxml
pydantic
chardet
#数据处理部分
opencv-python
aiohttp
Pillow
numpy